.content {
  background: #f5f5f5;
}

* {
  font-family: 'helvetica neue';
  box-sizing: border-box;
}

.autocomplete {
  background: #fff;
  position: relative;
  width: 100%;
  border: 1px solid #000;
}

.autocomplete .cancel {
  font-size: 18px;
  z-index: 10;
  color: #aaa;
  cursor: pointer;
}

.autocomplete input {
  padding: 10px 10px;
  font-weight: 300;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  color: #666;
}

.search {
  width: 100%;
  display: none;
  min-height: 40px;
  max-height: 330px;
  overflow: auto;
  border-top: 1px solid #f4f4f4;
  text-align: left;
}

.search.open {
  display: block;
}

.search div {
  padding: 20px 10px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s;
}

.search div:hover {
  background: #f2f2f2;
}
